/*-----------------------------------------------------------------------------
 * [TABLE OF CONTENTS]
 *    +common
 *    +header
 *		=
 *    +main
 *		=
 *    +footer
 *		=
 *-----------------------------------------------------------------------------

/* +common
 **----------------------------------------------------------------------------

@import variable
@import mixin

/**
 **
 ** =header
 **
 **

header

/**
 **
 ** =main
 **
 **

main

// == visual =====
#visual
  padding: 12px 0 48px 0
  background-color: $primeColor
  position: relative
  // overflow-x: hidden
  .hr-circle
    position: absolute
    left: 0
    bottom: -12px
    width: 100%
    height: 36px
    background-image: url("../img/bg-color.png")
    background-repeat: repeat-x
    background-size: auto
    background-position: left bottom
    z-index: 1
  .bg-circles
    position: relative
    // left: 50%
    height: 496px
    background-image: url("../img/circle-lines.svg")
    background-repeat: no-repeat
    background-size: auto 376px
    background-position: calc(50% + 4px) center
    // animation: bg-circle 4s infinite
    // transform: translateX(-48%)
    overflow-x: hidden
  .circle-block
    position: absolute
    top: 127px
    left: 0
    width: 100%
    .fluid
      position: absolute
      top: -40px
      left: calc(50% - 156px)
      width: 320px
      height: 320px
      background: #ffffff
      border-radius: 100%
      animation: rotate 30s infinite
      opacity: 0.9
    .circle-logo
      position: absolute
      top: 46px
      left: 50%
      width: 160px
      transform: translateX(-50%)
  .explore
    left: 50%
    transform: translateX(-50%)
    display: inline-block
    text-align: center
    font-size: 0.7rem
    .arrow-down
      width: 24px
      margin-bottom: 10px
      animation: updown 1.5s infinite
    p
      color: $light-blue
      font-size: 0.75rem

@keyframes updown
  0%
    transform: translateY(0)
  50%
    transform: translateY(4px)
  100%
    transform: translateY(0)


// == about =====
#about
  position: relative
  background-color: $lightGray
  .avatar
    position: absolute
    height: 200px
    width: 200px
    left: 0
    top: -72px
    z-index: 1
    .avatar-img
      width: 100%
      overflow: hidden
      border-radius: 100%
      border: solid 3px $white8
  .about-row
    padding: 180px 0
    .intro
      width: 100%
      padding-right: 24px
      h2::after
        content: ""
        width: 120px
        height: 12px
        display: block
        background: url("../img/hr-color.png") no-repeat
        background-size: contain
        margin-top: 32px
      .intro-text
        color: #333333
        padding-top: 72px
      @include breakpoint($sm-up)
        width: 50%
    .skill
      width: 100%
      padding-left: 24px
      @include breakpoint($sm-up)
        width: 50%


// == works =====
#works
  padding: 120px 0
  .title-hr
    padding-bottom: 32px
    &::after
      content: ""
      display: block
      width: 100%
      height: 10px
      background: url("../img/hr-color-s.png") no-repeat center center
      
  ul
    display: flex
    align-items: flex-start
    justify-content: flex-start
    flex-wrap: wrap
    margin: 0 auto
    padding-top: 40px
    max-width: 1040px
    width: 100%
    // column-count: 2
    // column-width: 340px
    // column-gap: 32px
    li
      width: 100%
      padding: 24px
      &.work-content
        // margin-bottom: 24px
        break-inside: avoid
        // margin: 32px auto
        // border-radius: 5px
        overflow: hidden
        vertical-align: top
        &:first-of-type
          margin-top: 0
      @include breakpoint($sm-up)
        width: 50%
      figure
        position: relative
        display: block
        margin: 0 auto
        vertical-align: top
        overflow: hidden
        // border: 1px solid #eeeeee
        cursor: pointer
        &:hover
          img
            transform: scale(1.1)
          // figcaption
          //   opacity: 1
          //   height: 100%
        img
          width: 100%
          transition: .3s
        figcaption
          position: absolute
          display: flex
          justify-content: center
          align-items: center
          top: 0
          left: 0
          width: 100%
          height: 0
          background-color: $black8
          padding: 24px 48px
          opacity: 0
          // transform: translateY(-100%)
          transition: .3s
          .content
        p
          color: #ffffff
          font-weight: lighter
          line-height: 1.5rem
          letter-spacing: 1px
        h4
          font-weight: 300
          text-align: center
          color: #ffffff
          padding-bottom: 32px
      .title-text
        padding: 24px 0 0 0
        font-size: 1.25rem
        text-align: center
        font-weight: 200
      .descript
        padding: 0 0 8px 0
        display: flex
        justify-content: center
        align-items: self-start
        .tag
          padding: 0 12px
          margin: 12px
          font-size: 0.875rem
          // color: #dddddd
          color: $primeColor
          letter-spacing: 1px
          font-weight: lighter
          line-height: 0.875rem
          // border-radius: 16px
          // border: solid 1px #dddddd
          border-right: solid 1px #eeeeee
        .descript-text
          font-size: 0.875rem
          color: #4A4A4A
          letter-spacing: 1px
          font-weight: lighter
          padding: 8px 12px 8px 4px

/**
 **
 ** =footer
 **
 **

footer
  margin-top: 0
  @include breakpoint($sm-up)
    margin-top: 40px
  @include breakpoint($md-up)
    margin-top: 80px
