extends ../layout/app

block vars

block pages-css
  link(rel='stylesheet', href='assets/css/index.css')
  link(rel='stylesheet', href='assets/css/module/animate.css')


block content
  main
    h1 林欣儀 | PORTFOLIO 

    // == Visual =====
    article#visual
      section
        .bg-circles
        .circle-block
          .bg-lines
          .fluid
          img.circle-logo(src='assets/img/logo-siniy.png')
        .explore
          img.arrow-down(src='assets/img/arrow-down2.svg')
      .hr-circle
      

    // == ABOUT =====
    article#about
      section.main-wrap
        .avatar.wow.rollIn(data-wow-duration="1.5s" data-wow-delay="0.3s" data-wow-offset="50")
          img.avatar-img(src='assets/img/sinyi-avatar.jpg' alt="Sinyi頭像")
        .row.about-row
          .intro
            h2.wow.bounceInUp(data-wow-duration="1s" data-wow-delay="0.3s") 林欣儀 LIN SIN YI
            p.intro-text.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="0.3s")
              | 曾任職於網路廣告公司與軟體專案公司，負責網站/App等軟體專案管理與執行、跨部門溝通、WireFrame/UI Flow/Prototype等UI/UI規劃、視覺設計、制定電子商務系統流程，並針對公司目標進行策略擬定，結合各部門資源完成需求。
              br
              br
              | 十分享受規劃網站動線、進而製作成可以與使用者互動的網站/APP所帶來的成就感，讓我對前段開發產生很大的興趣，進而精進前端技能，開始了前端工程師之路。
          .skill.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="0.3s")
            ul.skill-list
              li.skill-list-item
                .skill-list-item-title Design
                .skill-list-item-content Photoshop/ Illustrator /Zeplin
              li.skill-list-item
                .skill-list-item-title Planing
                .skill-list-item-content Axture RP/ Figma/ Microsoft Office/ trello
              li.skill-list-item
                .skill-list-item-title Front-end
                .skill-list-item-content Javascript/ Jquery/ CSS(Sass)/ HTML(Pug)/ Bootstrap
              li.skill-list-item
                .skill-list-item-title JS Framework
                .skill-list-item-content
                  .content-item
                    .text Angular
                    .bar
                      .bar-fill.angular
                  .content-item
                    .text Vue
                    .bar.bar-fill
                      .bar-fill.vue

    //- // == ABOUT =====
    //- article#about
    //-   section.main-wrap
    //-     .avatar.wow.rollIn(data-wow-duration="1.5s" data-wow-delay="0.3s" data-wow-offset="50")
    //-       img.avatar-img(src='assets/img/sinyi-avatar.jpg' alt="Sinyi頭像")
    //-     .row.about-row
    //-       .intro
    //-         h2.wow.bounceInUp(data-wow-duration="1s" data-wow-delay="0.3s") LIN SIN YI
    //-         p.intro-text.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="0.3s")
    //-           | I was a product and project manager in online website, EC, O2O service,mobile App, RTLS solution. 
    //-           br
    //-           br
    //-           | Have interest in web technologies, Front-enf development, UI/UX design, and become a front-end developer!
    //-       .skill.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="0.3s")
    //-         ul.skill-list
    //-           li.skill-list-item
    //-             .skill-list-item-title Design
    //-             .skill-list-item-content Photoshop/ Illustrator
    //-           li.skill-list-item
    //-             .skill-list-item-title planning
    //-             .skill-list-item-content Axture RP/ Figma/ Zeplin
    //-           li.skill-list-item
    //-             .skill-list-item-title Front-end
    //-             .skill-list-item-content Javascript/ Jquery/ CSS(Sass)/ HTML(Pug)/ Bootstrap
    //-           li.skill-list-item
    //-             .skill-list-item-title JS Framework
    //-             .skill-list-item-content
    //-               .content-item
    //-                 .text Angular
    //-                 .bar
    //-                   .bar-fill.angular
    //-               .content-item
    //-                 .text Vue
    //-                 .bar.bar-fill
    //-                   .bar-fill.vue

    // == WORKS =====
    article#works
      section.main-wrap
        h3.title-hr.wow.bounceInUp(data-wow-duration="1s" data-wow-delay="0.3s")
          | WORKS
        ul
          li.work-content.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="0.3s")
            a(href='https://wallet.friday.tw/home/' target='_blank' title='遠傳Friday理財+')
              figure
                img(src='assets/img/works-friday57.jpg')
            h4.title-text 遠傳Friday理財+網站
            .descript
              .tag WEB
              .descript-text 前端開發
          li.work-content.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="0.3s")
            a(href='https://ezweb.easycard.com.tw/eccl2/apply.action' target='_blank' title='悠遊卡記名網站')
              figure
                img(src='assets/img/works-easycard.jpg')
            h4.title-text 悠遊卡記名網站
            .descript
              .tag WEB
              .descript-text 前端開發
          li.work-content.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="0.3s")
            figure
              a(href='https://www.businessweekly.com.tw/bwplus/landingpage/' target='_blank' title='商業週刊-APP介紹網頁')
                img(src='assets/img/works-bw-app.jpg')
            h4.title-text 商業週刊-APP介紹網頁
            .descript
              .tag WEB
              .descript-text 前端開發
          li.work-content.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="0.3s")
            figure
              img(src='assets/img/works-iflow.jpg')
            h4.title-text 國泰內部公文系統
            .descript
              .tag WEB
              .descript-text 前端開發
          li.work-content.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="0.3s")
            figure
              a(href='https://goonsdesign.com/' target='_blank' title='果思設計官方網站')
                img(src='assets/img/works-goons.jpg')
            h4.title-text 果思設計官方網站
            .descript
              .tag WEB
              .descript-text 前端開發
          
          li.work-content.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="0.3s")
            figure
              a(href='https://www.wealth.com.tw/safehouse1/' target='_blank' title='第一屆危老都更博覽會網站')
                img(src='assets/img/works-safehouse.jpg')
            h4.title-text 第一屆危老都更博覽會網站
            .descript
              .tag WEB
              .descript-text 前端開發
          li.work-content.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="0.3s")
            figure
              a(href='https://www.businessweekly.com.tw/' target='_blank' title='商業周刊官方網站')
                img(src='assets/img/works-bw.jpg')
            h4.title-text 商業周刊官方網站
            .descript
              .tag WEB
              .descript-text 前端開發
          li.work-content.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="0.3s")
            figure
              a(href='https://egoshop.atipd.tw/' target='_blank' title='部落e購官網/線上購物網站')
                img(src='assets/img/works-eshop.jpg')
            h4.title-text 部落e購官網
            .descript
              .tag WEB
              .descript-text 專案管理/UX規劃/Wordpress網站建置/EC規劃
          li.work-content.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="0.3s")
            figure
              img(src='assets/img/works-love.jpg')
            h4.title-text 台灣關愛基金會官方網站
            .descript
              .tag WEB
              .descript-text 專案管理/UX規劃/Wordpress網站建置
          li.work-content.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="0.3s")
            figure
              a(href='http://www.xfuns.com.tw/' target='_blank' title='XFUNS 放肆創意設計網')
                img(src='assets/img/works-xfuns.jpg')
            h4.title-text XFUNS 放肆創意設計網
            .descript
              .tag WEB
              .descript-text 專案管理/Wordpress網站建置/EC規劃
          li.work-content.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="0.3s")
            figure
              a(href='https://apc.atipd.tw/' target='_blank' title='台灣原住民部落活力發展資訊網')
                img(src='assets/img/works-atipd.jpg')
            h4.title-text 台灣原住民部落活力發展資訊網
            .descript
              .tag WEB
              .descript-text 專案管理/UX規劃/Wordpress網站建置
          li.work-content.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="0.3s")
            figure
              img(src='assets/img/works-smart.jpg')
            h4.title-text 原民智慧部落APP
            .descript
              .tag APP
              .descript-text 專案管理/UX規劃
          li.work-content.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="0.3s")
            figure
              img(src='assets/img/works-taco.jpg')
            h4.title-text tacoPay App
            .descript
              .tag APP
              .descript-text 產品企劃/UX規劃/行銷
          li.work-content.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="0.3s")
            figure
              a(href='http://www.somarket.tw/orinature/' target='_blank' title='原生活Orinature EC網站')
                img(src='assets/img/works-orinature.jpg')
            h4.title-text 原生活Orinature EC網站
            .descript
              .tag WEB
              .descript-text 專案管理/UX規劃/EC系統規劃
          li.work-content.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="0.3s")
            figure
              a(href='https://pingpu.atipd.tw/' target='_blank' title='台灣平埔族群聚落網')
                img(src='assets/img/works-ping.jpg')
            h4.title-text 台灣平埔族群聚落網
            .descript
              .tag WEB
              .descript-text 專案管理/UX規劃/Wordpress網站建置
          li.work-content.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="0.3s")
            figure
              img(src='assets/img/works-shopmore.jpg')
            h4.title-text SHOPMORE APP
            .descript
              .tag APP
              .descript-text 專案管理
          li.work-content.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="0.3s")
            figure
              img(src='assets/img/works-phorus.jpg')
            h4.title-text Phorus 
            .descript
              .tag WEB
              .descript-text 專案管理/UX規劃/Wordpress網站建置
          li.work-content.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="0.3s")
            figure
              img(src='assets/img/works-woo2.jpg')
            h4.title-text FB行銷活動Banner 
            .descript
              .tag Design
              .descript-text 視覺設計
          li.work-content.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="0.3s")
            figure
              img(src='assets/img/works-paint.jpg')
            h4.title-text 活動插畫設計 
            .descript
              .tag Design
              .descript-text 電腦繪圖
          li.work-content.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="0.3s")
            figure
              img(src='assets/img/works-woo1.jpg')
            h4.title-text 活動宣傳 Banner 
            .descript
              .tag Design
              .descript-text 視覺設計
          li.work-content.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="0.3s")
            figure
              img(src='assets/img/works-paint2.jpg')
            h4.title-text 食物插畫設計 
            .descript
              .tag Design
              .descript-text 電腦繪圖
          li.work-content.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="0.3s")
            figure
              img(src='assets/img/works-aboom.jpg')
            h4.title-text Aboom 
            .descript
              .tag Design
              .descript-text 電腦繪圖
          //- li.work-content.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="0.3s")
          //-   figure
          //-     img(src='assets/img/work-3.jpg')
          //-     figcaption
          //-       .content
          //-         h4 雅詩蘭黛-雙11活動網頁
          //-         p JQuery/ Pug/ Sass
          //-   h4.title-text 雅詩蘭黛-雙11活動網頁
          //-   .descript
          //-     .tag WEB
          //-     .descript-text 前端開發
              

block pages-js
  script(src='assets/js/module/anime.min.js')
  script(src='assets/js/module/wow.min.js')
  script(src='assets/js/portfolio-index.js')


