extends ../layout/app

block vars

block pages-css
  link(rel='stylesheet', href='assets/css/index.css')
  link(rel='stylesheet', href='assets/css/module/animate.css')


block content
  main
    h1 LIN SIN YI PORTFOLIO 

    // == Visual =====
    article#visual
      section
        .bg-circles
        .circle-block
          .bg-lines
          .fluid
          img.circle-logo(src='assets/img/logo-siniy.png')
        .explore
          img.arrow-down(src='assets/img/arrow-down2.svg')
      .hr-circle
      

    // == ABOUT =====
    article#about
      section.main-wrap
        .avatar
          img.avatar-img(src='assets/img/sinyi-avatar.jpg' alt="Sinyi頭像")
        .row.about-row
          .intro
            h2 LIN SIN YI
            p.intro-text
              | I was a product and project manager in online website, EC, O2O service,mobile App, RTLS solution. 
              br
              br
              | Have interest in web technologies, Front-enf development, UI/UX design, and become a front-end developer!
          .skill
            ul.skill-list
              li.skill-list-item
                .skill-list-item-title Design
                .skill-list-item-content Photoshop/ Illustrator
              li.skill-list-item
                .skill-list-item-title planning
                .skill-list-item-content Axture RP/ Figma/ Zeplin
              li.skill-list-item
                .skill-list-item-title Front-end
                .skill-list-item-content Javascript/ Jquery/ CSS(Sass)/ HTML(Pug)/ Bootstrap
              li.skill-list-item
                .skill-list-item-title JS Framework
                .skill-list-item-content
                  .content-item
                    .text Angular
                    .bar
                      .bar-fill.angular
                  .content-item
                    .text Vue
                    .bar.bar-fill
                      .bar-fill.vue


    // == SKILLS =====


    //-         figcaption.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="0.5s")
    //-           h4 CSS
    //-           p Sass (Pre-processors) /
    //-           p Bootstrap/
    //-           p Media Query (RWD)/ Hack
    //-       li.skill-content
    //-         figure.wow.bounceIn(data-wow-duration="1s" data-wow-delay="0.5s")
    //-           img(src='assets/img/icon-js.svg')
    //-         figcaption.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="0.5s")
    //-           h4 Javascript
    //-           p JQuery/ VueJS/ AJAX
    //-       li.skill-content
    //-         figure.wow.bounceIn(data-wow-duration="1s" data-wow-delay="0.5s")
    //-           img(src='assets/img/icon-git.svg')
    //-         figcaption.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="0.5s")
    //-           h4 Git
    //-           p Version control/ Branch Manage
    //-       li.skill-content
    //-         figure.wow.bounceIn(data-wow-duration="1s" data-wow-delay="0.5s")
    //-           img(src='assets/img/icon-plan.svg')
    //-         figcaption.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="0.5s")
    //-           h4 Project manage/ Plan
    //-           p Product development/ Project management/ Software planning
    //-           p Sofeware: Microsoft Office/ Axture RP/ Google Analytics
    // == WORKS =====
    article#works
      section.main-wrap
        h3.title-hr
          | WORKS
        ul
          //左排
          li.work-content.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="0.3s")
            a(href='https://wallet.friday.tw/home/' target='_blank' title='遠傳Friday理財+')
              figure
                img(src='assets/img/works-friday57.jpg')
            h4.title-text 遠傳Friday理財+網站
            .descript
              .tag WEB
              .descript-text 前端開發
          li.work-content.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="0.3s")
            a(href='https://ezweb.easycard.com.tw/eccl2/apply.action' target='_blank' title='悠遊卡記名網站')
              figure
                img(src='assets/img/works-easycard.jpg')
            h4.title-text 悠遊卡記名網站
            .descript
              .tag WEB
              .descript-text 前端開發
          li.work-content.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="0.3s")
            figure
              a(href='https://www.businessweekly.com.tw/bwplus/landingpage/' target='_blank' title='商業週刊-APP介紹網頁')
                img(src='assets/img/works-bw-app.jpg')
            h4.title-text 商業週刊-APP介紹網頁
            .descript
              .tag WEB
              .descript-text 前端開發

          // 右排
          li.work-content.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="0.3s")
            figure
              img(src='assets/img/works-iflow.jpg')
            h4.title-text 國泰內部公文系統
            .descript
              .tag WEB
              .descript-text 前端開發
          li.work-content.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="0.3s")
            figure
              a(href='https://goonsdesign.com/' target='_blank' title='果思設計官方網站')
                img(src='assets/img/works-goons.jpg')
            h4.title-text 果思設計官方網站
            .descript
              .tag WEB
              .descript-text 前端開發
          
          li.work-content.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="0.3s")
            figure
              a(href='https://www.wealth.com.tw/safehouse1/' target='_blank' title='第一屆危老都更博覽會網站')
                img(src='assets/img/works-safehouse.jpg')
            h4.title-text 第一屆危老都更博覽會網站
            .descript
              .tag WEB
              .descript-text 前端開發
          li.work-content.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="0.3s")
            figure
              a(href='https://www.businessweekly.com.tw/' target='_blank' title='商業周刊官方網站')
                img(src='assets/img/works-bw.jpg')
            h4.title-text 商業周刊官方網站
            .descript
              .tag WEB
              .descript-text 前端開發
          //- li.work-content.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="0.3s")
          //-   figure
          //-     img(src='assets/img/work-3.jpg')
          //-     figcaption
          //-       .content
          //-         h4 雅詩蘭黛-雙11活動網頁
          //-         p JQuery/ Pug/ Sass
          //-   h4.title-text 雅詩蘭黛-雙11活動網頁
          //-   .descript
          //-     .tag WEB
          //-     .descript-text 前端開發
              

block pages-js
  script(src='assets/js/module/anime.min.js')
  script(src='assets/js/module/wow.min.js')
  script(src='assets/js/portfolio-index.js')


